body {
	background: rgb(19,183,184);
	background: linear-gradient(90deg, rgba(19,183,184,1) 12%, rgba(40,76,215,1) 72%); 
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #000066;

}

img {
	box-shadow: 5px 5px 5px black;
	border-radius: 10px;
}
#gombik {
	text-decoration: none;
	font-size: 50px;
	color: white;
	border: solid rgba(40,76,215,1);
	background: rgba(40,76,215,1);
	border-radius: 5px;
	

}

h1 {
	text-align: center;
	border: 2px solid black;
	width: 400px;
	border-radius: 10px;
	margin: 10px auto;
}
hr {
	color: white;
}
iframe {
	box-shadow: 5px 5px 5px black;
	border-radius: 10px;
}