body {
	background: rgb(19,183,184);
	background: linear-gradient(90deg, rgba(19,183,184,1) 12%, rgba(40,76,215,1) 72%); 
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #000066;
	text-align: center;
}

img {
	box-shadow: 5px 5px 5px;
	border-radius: 10px;
	
}
a {
	text-decoration: none;
	background-color: rgba(40,76,215,1);
	color: white;

}

h1 {
	text-align: center;
}
hr {
	color: white;
}
iframe {
	box-shadow: 5px 5px 5px;
	border-radius: 10px;
}